.category {
  width: 1200px;
}

.category-title {
  margin-top: 20px;
  font-size: 36px;
  font-weight: bold;
}

.category-breadcrumbs {
  display: flex;
  margin-bottom: 20px;
  color: #8a8c92;
  font-size: 13px;
  margin-left: -5px;
}

.category-breadcrumbs a {
  color: inherit;
  text-decoration: inherit;
}

.category-breadcrumb {
  margin: 0 5px;
}

.category-breadcrumb:hover {
  text-decoration: underline;
}

.category-breadcrumb.inactive:hover {
  text-decoration: none;
}
