.cart {
  width: 1200px;
  padding-top: 20px;
}

.cart-title {
  font-size: 36px;
  font-weight: bold;
}

.cart-title-counter {
  color: #f6d807;
  font-size: 16px;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #CECECE;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.cart-item-info img {
  width: 100px;
  height: 100px;
  padding: 10px;
  background: #24252a;
  border-radius: 4px;
  margin-bottom: 10px;
}

.cart-item-title {
  color: #f0f0f0;
  font-weight: bold;
}

.cart-item-prices {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #cecece;
  font-size: 16px;
}

.cart-item-prices div {
  flex-basis: 300px;
  text-align: center;
}

.cart-prices-cost {
  font-weight: bold;
  font-size: 18px;
  color: #f6d807;
}

.cart-item-remove {
  color: #f0f0f0;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: auto;
}

.cart-item-remove:hover {
  color: #f6d807;
}

.cart-totals {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-total {
  margin-bottom: 30px;
  font-size: 24px;
  color: white;
}

.cart-total-highlighted {
  font-weight: bold;
  color: #f6d807;
}

.cart-makeOrder {
  background: #f6d807;
  color: #131415;
  font-size: 18px;
  padding: 20px 0;
  width: 250px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-top: 30px;
}

.cart a {
  text-decoration: initial;
}

.cart-makeOrder:hover {
  color: #131415;
  background: #dfc207;
}

.cart-order {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.cart-order-title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}

.cart-order-input {
  display: flex;
  margin-bottom: 15px;
}

.cart-order-input label {
  width: 175px;
  margin-right: 20px;
  color: #cecece;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-order-input input {
  padding: 10px 20px 10px 10px;
  width: 300px;
  box-sizing: border-box;
  color: #333;
  border-radius: 4px;
  border: 2px solid transparent;
}

.cart-order-input textarea {
  padding: 10px 20px 10px 10px;
  width: 300px;
  height: 150px;
  box-sizing: border-box;
  color: #333;
  border-radius: 4px;
  border: 2px solid transparent;
  font-family: arial;
}

.cart-order-input.textarea label  {
  align-items: flex-start;
}
