.cart {
  width: 1200px;
  padding: 30px;
  margin-bottom: auto;
  box-sizing: border-box;
  background-color: #2c3033;
}

.cart-title {
  font-size: 36px;
  font-weight: bold;
}

.cart-title-counter {
  color: #f78888;
  font-size: 16px;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-backButton {
  background: #f78888;
  color: #131415;
  font-size: 18px;
  padding: 20px 0;
  width: 250px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin: 30px 0 0 auto;
}

.cart-item {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #CECECE;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.cart-item-info img {
  width: 100px;
  height: 100px;
  padding: 10px;
  background: #2c3033;
  border-radius: 4px;
  margin-bottom: 10px;
}

.cart-item-title {
  color: #f0f0f0;
  font-weight: bold;
}

.cart-item-prices {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #cecece;
  font-size: 16px;
}

.cart-item-prices div {
  flex-basis: 300px;
  text-align: center;
}

.cart-prices-cost {
  font-weight: bold;
  font-size: 18px;
  color: #f78888;
}

.cart-item-remove {
  color: #f0f0f0;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: auto;
}

.cart-item-remove:hover {
  color: #f78888;
}

.cart-totals {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-total {
  margin-bottom: 30px;
  font-size: 24px;
  color: white;
}

.cart-total-highlighted {
  font-weight: bold;
  color: #f78888;
}

.cart-makeOrder {
  background: #f78888;
  color: #131415;
  font-size: 18px;
  padding: 20px 0;
  width: 250px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-top: 30px;
}

.cart a {
  text-decoration: initial;
}

.cart-makeOrder:hover {
  color: #131415;
  background: #db7b7b;
}

.cart-order {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.cart-order-title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}

.cart-order-error {
  font-size: 14px;
  color: #dc3545;
  margin-bottom: 15px;
}

.cart-order-input {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  width: 495px;
}

.cart-order-input label {
  width: 175px;
  margin-right: 20px;
  color: #cecece;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-order-input input {
  padding: 10px 20px 10px 10px;
  width: 300px;
  box-sizing: border-box;
  color: #333;
  border-radius: 4px;
  border: 2px solid transparent;
}

.cart-order-input textarea {
  padding: 10px 20px 10px 10px;
  width: 300px;
  height: 150px;
  box-sizing: border-box;
  color: #333;
  border-radius: 4px;
  border: 2px solid transparent;
  font-family: arial;
}

.cart-order-input.textarea label  {
  align-items: flex-start;
}

.cart-input-required {
  color: red;
  position: absolute;
  right: 10px;
  top: 14px;
  font-size: 10px;
}

@media screen and (max-width: 1200px) {
  .cart {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .cart {
    min-height: 400px;
  }

  .cart-backButton {
    margin: 30px auto 0;
  }

  .cart-item {
    flex-direction: column;
    align-items: center;
  }

  .cart-item-info {
    margin: 0;
    margin-bottom: 15px;
  }

  .cart-item-prices {
    flex-direction: column;
    justify-content: center;
  }

  .cart-item-prices div {
    flex-basis: 100%;
  }

  .cart-order {
    align-items: center;
  }

  .cart-order-input {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cart-order-input label {
    justify-content: center;
    margin-bottom: 10px;
  }

  .cart-order-input input, .cart-order-input textarea {
    width: 100%;
  }

  .cart-input-required {
    top: 44px;
  }

  .cart-makeOrder {
    margin: 0;
    margin-top: 20px;
  }
}
