.admin-tabs {
  display: flex;
  border-bottom: 1px solid #f78888;
  font-size: 18px;
  width: 1200px;
  background: #2c3033;
  border-radius: 5px;
  margin-top: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.admin-tabs a {
  color: inherit;
  text-decoration: initial;
}

.admin-tab {
  padding: 15px 30px;
  font-weight: bold;
  cursor: pointer;
}

.admin-tab:first-child {
  border-top-left-radius: 5px;
}

.admin-tab.active {
  background: #f78888;
  color: #333;
}

.admin-tab.logout {
  margin-left: auto;
  transition: .1s;
  border-top-right-radius: 5px;
}

.admin-tab.logout:hover {
  background: #f78888;
  color: #333;
}
