header {
  width: 1200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #f78888;
}

.header-row {
  display: flex;
  align-items: center;
}

.header-title {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  align-items: center;
}

.header-title-big {
  color: #f78888;
  font-size: 40px;
  line-height: 40px;
}

.header-title-small {
  color: #f78888;
  font-weight: bold;
  font-size: 18px;
}

header .contactPhone, .header-questions {
  margin-right: 30px;
}

.header-questions-title {
  font-size: 13px;
  color: #cecece;
}

.header-questions-phone {
  font-size: calc(20px + 2 * ((100vw - 980px) / 220));
}

.header-questions {
  margin-right: auto;
}

.header-cart {
  display: flex;
}

header a {
  color: inherit;
  text-decoration: inherit;
}

.header-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 50px;
  background-color: #f78888;
  font-size: 16px;
  color: #131415;
  font-weight: bold;
}

.header-cart-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #131415;
}

.header-cart:hover .header-cart-fa {
  color: #f78888;
}

.header-cart-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  right: 8px;
  top: 8px;
  font-size: 10px;
  line-height: 13px;
  color: #131415;
  background: #f78888;
  border-radius: 50%;
}

.header-menu {
  display: flex;
}

.header-menu-item {
  position: relative;
  font-weight: bold;
  line-height: 60px;
  font-size: 16px;
  margin: 0em 1.563em;
}

.header-menu-item:first-child {
  margin-left: 0;
}

.header-dropdown {
  height: 0px;
  width: 250px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  transition: .1s;
}

.header-dropdown-item {
  padding: 0 15px;
  cursor: pointer;
}

.header-dropdown-item:hover {
  color: #f78888;
}

.header-menu-item.dropdown:hover .header-dropdown {
  height: 120px;
}
