header {
  width: 1200px;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #f78888;
}

.header-row {
  padding-top: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.header-bars {
  display: none;
}

.header-bars-fa {
  width: 14px !important;
  height: 21px;
}

.header-bars-sidebar {
  position: absolute;
  top: 100%;
  left: -100%;
  width: 200%;
  z-index: -1;
  height: calc(100vh - 100%);
  background: rgba(0, 0, 0, 0);
  transition: 0.3s;
  overflow-y: hidden;
}

.header-bars-sidebar.opened {
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
}

.header-bars-menu {
  background-color: #141618;
  transition: 0.2s;
  width: min-content;
  min-width: 200px;
  height: 100%;
}

.header-bars-item {
  position: relative;
  padding: 15px 30px;
  border-bottom: 1px solid #353535;
}

.header-bars-acordion {
  overflow: hidden;
  transition: 0.1s;
  height: 0;
}

.header-bars-acordion.opened {
  height: 100%;
}

.header-acordion-fa {
  position: absolute;
  top: 40%;
  right: 20px;
  transition: 0.1s;
}

.header-acordion-fa.opened {
  transform: rotate(180deg);
}

.header-acordion-item {
  padding: 10px 30px;
  font-size: 14px;
  border-bottom: 1px solid #353535;
}

.header-title {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  align-items: center;
}

.header-title-big {
  color: #f78888;
  font-size: 40px;
  line-height: 40px;
}

.header-title-small {
  color: #f78888;
  font-weight: bold;
  font-size: 18px;
}

header .contactPhone, .header-questions {
  margin-right: 30px;
  margin-left: auto;
}

.header-questions-title {
  font-size: 13px;
  color: #cecece;
}

.header-questions-phone {
  font-size: calc(20px + 2 * ((100vw - 980px) / 220));
}

.header-cart {
  display: flex;
}

header a {
  color: inherit;
  text-decoration: inherit;
}

.header-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 50px;
  background-color: #f78888;
  font-size: 16px;
  color: #131415;
  font-weight: bold;
}

.header-cart-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #131415;
}

.header-cart:hover .header-cart-fa {
  color: #f78888;
}

.header-cart-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  right: 8px;
  top: 8px;
  font-size: 10px;
  line-height: 13px;
  color: #131415;
  background: #f78888;
  border-radius: 50%;
}

.header-menu {
  display: flex;
  background: #2c3033;
  width: 100%;
}

.header-menu-item {
  position: relative;
  font-weight: bold;
  line-height: 60px;
  font-size: 16px;
  padding: 0 25px;
  cursor: pointer;
}

.header-menu-item:hover {
  background: #25282b;
}

.header-dropdown {
  height: 0px;
  width: 250px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  transition: .1s;
}

.header-dropdown-item {
  padding: 0 15px;
  cursor: pointer;
}

.header-dropdown-item:hover {
  color: #f78888;
}

.header-menu-item.dropdown:hover .header-dropdown {
  height: unset;
}

@media screen and (max-width: 1200px) {
  header {
    width: 100%;
  }

  .header-row:first-child {
    padding: 30px;
    padding-bottom: 0;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .header-questions {
    display: none;
  }

  header .contactPhone {
    display: none;
  }

  .header-bars {
    display: block;
  }

  .header-row:first-child {
    justify-content: space-between;
    padding: 10px 30px;
  }

  .header-row:last-child {
    display: none;
  }

  .header-title {
    margin: 0;
  }

  .header-title-small {
    display: none;
  }

  .header-title-big {
    font-size: 24px;
  }

  .header-cart-button {
    display: none;
  }

  .header-cart-icon {
    background-color: transparent;
    width: 20px;
    height: 20px;
  }
}
