.gridItem {
  position: relative;
  width: 360px;
  display: flex;
  flex-direction: column;
  background: #25282b;
}

.gridItem .imageCropper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.gridItem::after {
  content: 'Подробнее';
  position: absolute;
  bottom: 80px;
  right: -10px;
  background: rgba(0,0,0,0.7);
  padding: 15px 10px;
  text-align: center;
  color: #f78888;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  transition: .5s;
}

.gridItem:hover::after {
  text-decoration: underline;
  opacity: 1;
}

.gridItem img {
  height: 100%;
  background: #2c3033;
  box-sizing: border-box;
  cursor: pointer;
}

.gridItem-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #f78888;
  font-size: 16px;
  font-weight: bold;
  padding: 0 15px;
}

.gridItem-title {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 15px 15px;

}

.gridItem-title:hover {
  color: #f78888;
}

.gridItem a {
  color: inherit;
  text-decoration: inherit;
}

@media screen and (max-width: 1200px) {
  .gridItem {
    width: calc((100% - 30px) / 2);
  }

  .gridItem .imageCropper {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 600px) {
  .gridItem {
    width: 100%;
  }
}

