.admin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.admin-loggedIn {
  width: 1200px;
  background: #2c3033;
  border-radius: 5px;
  margin: 50px;
}

.admin-tabs {
  display: flex;
  border-bottom: 1px solid #f78888;
}

.admin-tab {
  padding: 15px 30px;
  font-weight: bold;
  cursor: pointer;
}

.admin-tab:first-child {
  border-top-left-radius: 5px;
}

.admin-tab.active {
  background: #f78888;
  color: #333;
}

.admin-tab.logout {
  margin-left: auto;
  transition: .1s;
  border-top-right-radius: 5px;
}

.admin-tab.logout:hover {
  background: #f78888;
  color: #333;
}
