.slider {
  border-bottom: 3px solid #f78888;
}

.slider-wrapper {
  width: 1200px;
}

.slider-wrapper img {
  width: 1200px;
}

.image-gallery-icon:hover {
  color:  #f78888 !important;
}

.image-gallery-bullets .image-gallery-bullet:hover {
  background: #f78888 !important;
}

@media screen and (max-width: 1200px) {
  .slider-wrapper {
    width: 100%;
  }

  .slider-wrapper img {
    width: 100%;
  }
}
