.slider {
  margin-top: 30px;
}

.slider-wrapper {
  padding: 15px;
  width: 1170px;
  background: #2c3033;
  border-radius: 4px;
  box-sizing: content-box;
}

.slider-wrapper img {
  width: 1170px;
}
